.calc_body {
    display: flex;
    height: 450px;
    width: 300px;
    background-color: rgb(49, 74, 188);
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    box-shadow: 10px 10px 10px;
    border-radius: 5px;
}

.calc_screen {
    position: relative;
    height: 50px;
    width: 280px;
    background-color: olive;
    margin-top: 10px;
    text-align: right;
    font-size: xx-large;
    font-family: orbitron, sans-serif;
}

.calc_button {
    text-align: center;
    height: 60px;
    width: 60px;
    background-color: white;
    margin: 5px;
    font-size: 25px;
    font-family: orbitron, sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px black;
    border-radius: 10px;
}

#operation {
    background-color: red;
    color: white;
}

p {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

h2 {
    text-indent: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}